@import url('https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans|Raleway');

/* Mobile First Design */
html{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 30px;
  font-size: 2rem;
  letter-spacing: 8px;
}

p.small {
  font-size: 0.9rem;
}

.work-experience h3 {
  display: inline;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.intro {
  background: linear-gradient(to bottom, #eee, #ccc);
}

.color1 {
  background-color: #caccce;
  color: #1A3D7F;
}

.color2 {
  background-color: white;
  color: #1A3D7F;
}

section {
  background-color: white;
}

.item {
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(5, 5, 5, 0.2);
}

.color2 .item {
  border-top: 1px rgba(150, 150, 150, .5) solid;
}

.intro h2 {
  font-size: 2rem;
}

.intro p {
  font-size: 1.1rem;
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
}

.skills-list {
  list-style-type: none;
}

.skills ul {
  padding: 0px;
}

.skills li {
  padding-top: 10px;
}

/* Each browser works with a different selector */
.skills progress::-moz-progress-bar {
  width: 100%;
  background: #1A3D7F;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;
}

.skills progress::-webkit-progress-value {
  width: 100%;
  background: #1A3D7F;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;
}

.skills progress {
  width: 100%;
  color: #1A3D7F;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;
}

.work-experience {
  display: grid;
}

.work-experience img {
  float: left;
}

.portfolio {
  display: grid;
}

.portfolio img {
  width: 100%;
  object-fit: cover;

}

.portfolio-technologies {
  border-bottom: 1px rgba(150, 150, 150, .5) solid;
  kerning: 10px;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 1rem;
  line-height: 25px;
}

.badge {
  font-size: 10px;
  padding:5px;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.education {
  display: grid;
}

.certifications {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.interests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  text-align: center;
}

.interests .item {
  background-color: white;
}

footer {
  background-color: #333;
  color: white;
}

footer nav ul li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .contact-arrow-up {
  float: right;
}

footer .contact ul {
  list-style-type: none;
  padding-left: 0px;
}

footer .contact ul li {
  padding-top: 5px;
}

/* Tablet Design */
/* For future implementation */
@media screen and (min-width: 768px) {
  h1 {
    padding-top: 10px;
    font-size: 4rem;
  }

  .intro .content p {
    font-size: 1.5rem;
  }
}

/* Desktop Design */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }

  .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .work-experience {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  .education {
    grid-template-columns: repeat(4, 1fr);
  }

  .certifications {
    grid-template-columns: repeat(7, 1fr);
  }

  .interests ul {
    text-align: left;
  }

}
